$bg-color: rgb(212, 240, 170);

body {
    background-color: $bg-color;
    overflow-x: hidden;
}

.header-banner {
    // width: 100%;
    font-size: 2rem;
    height: 3rem;
    padding: 2rem 2rem 1rem 2rem;
    background-color: green;
    margin: -1rem;
    color: white;
}

.selectTab {
    background-color: rgb(233, 255, 201);
    height: 40rem;
    border-radius: 1rem;
    text-align: center;
}

.graphTab {
    background-color: antiquewhite;
    height: 40rem;
    border-radius: 1rem;
    text-align: center;
}

.layout {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    column-gap: 1rem;
    margin-top: 2rem;
}